<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">

    <title>About Sherlock</title>
</head>
<body>
    
    <h2>Sherlock Holmes</h2>
    <p>Sherlock Holmes is a fictional detective created by British author Sir Arthur Conan Doyle. </p>
    <p>Referring to himself as a "consulting detective" in the stories, Holmes is known for his proficiency with observation, deduction, forensic science, and logical reasoning that borders on the fantastic, which he employs when investigating cases for a wide variety of clients, including Scotland Yard.</p>

</body>
</html>