<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>

    <h1>🎩Sherlock Homes</h1>

    <p>Everything you need to know about Sr.Arthur Doyle's character</p>

    <ul>
        <li><a href="/views/about.html">About</a></li>
        <li><a href="/views/works.html">Works</a></li>
        <li><a href="/views/photo-gallery.html">Sherlock's actors</a></li>
    </ul>
    
</body>
</html>