<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/photo-gallery.css">

    <title>Sherlock's Actors</title>
</head>
<body>
    
    <h2>Actors who have played Sherlock Holmes</h2>
    <div>
    <img src="/images/drawing.jpg" alt="drawing-of-sherlock">
    <img src="/images/benedict.png" alt="benedict-as-sherlock">
    <img src="/images/robert.jpg" alt="rdj-as-sherlock">
    <img src="/images/henry.jpg" alt="henry-as-sherlock">
    </div>

</body>
</html>