<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/works.css">
    <title>Works</title>
</head>
<body>
    
    <h2>Book's in the Sherlock Holmes series</h2>
    <ul>
        <li>A Study in Scarlet </li>
        <li>The Sign of the Four </li>
        <li>The Hound of the Baskervilles </li>
        <li>The Valley of Fear</li>
    </ul>
</body>
</html>